extends layout 

block content
    h1 Create new Book 
    include errors
    form(action="/books/new", method='post')
        p
            label(for='title') Title :
            input(name='title', type='text', id='title', class='form-input')
        p
            label(for='author') Author : 
            input(name='author', type='text', id='author', class='form-input')
        p
            label(for='genre') Genre :
            input(name='genre', type='text', id='genre', class='form-input')
        p
            label(for='year') Year :
            input(name='year', type='text', id='year', class='form-input')
        p 
            input(class='button', type ='submit', value="Create New Book")
        p 
            a(class='button', href='/books') Cancel        